body{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;

   /* Tratando a imagem */
   background-image: url("../img/fundoTelaA.jpg");
   background-attachment: fixed;
   background-size: cover;
   /* ---------- */
}

#container{
   width: 800px;
   margin: 0 auto;
   border: 3px solid black;
   padding: 10px;
   background-color: rgb(28 27 27 / 76%);
   color: #efddf3;
}

iframe{
   width: 100%;
   height: 150px;
}

h1{
   font-size: 20px;
   font-family: 'Rowdies', cursive;
   text-transform: capitalize;
   text-align: center;
   /* font-weight: bold; */
   color: white;
   margin-bottom: 20px;
}

#banner{
   max-width: 100%;
   border-radius: 0px 20px 0px 20px;
   border: 3px solid white;
}
#banner:hover{
   cursor: pointer;
   border: 3px solid black;
   transition: 0.6s;
}

p{
   margin-bottom: 20px;
   line-height: 20px;
   text-indent: 20px;
}

h2{
   color: white;
   font-family: 'Bahiana', cursive;
   font-size: 21px;
   font-weight: bold;
   background-color: rgb(255 0 0 / 20%) ;
   border-radius: 20px 0px 0px 20px;
   border-radius: 30px;
   padding-left: 20px;
   padding-top: 5px;
   padding-bottom: 5px;
}

h3{
   color: red;
   font-size: 18px;
   background-color: rgb(0 0 0 / 20%);
   text-transform: uppercase;
   border-radius: 30px;
   padding-left: 20px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin: 30px 0px 30px;
}

h4{
   color: red;
   /* margin: 20px; */
   font-size: 15px;
   background-color: rgb(0 0 0 / 20%);
   border-radius: 30px;
   padding-left: 20px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin: 30px 0px 30px;
}

#tabelaImagens{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
}

#tabelaImagens img{
   margin: 10px;
   border: 10px solid black;
   border-radius: 20px;
}

#tabelaImagens img:hover {
   border: 10px solid red;
   transition: 1.0s;
}

#listaMortes {
   background-color: black;
   padding-left: 30px;
   padding: 10px;
}

#listaMortes li {
   margin: 15px;
   margin-left: 30px;
   max-width: 100%;
}

#listaMortes li a{
   color: gray;
   text-decoration: none;

}

#listaMortes li a:hover{
   display: inline-block;
   color: black;
   background-color: white;
   transition: 1.0s;
}

ol{
   /* display: inline-block; */
   background-color: black;
   padding-left: 30px;
   padding: 10px;
}

ol li{
   margin: 20px;  
   color: gray;
}

ol li:hover{
   /* display: inline-block; */
   color: black;
   background-color: white;
   transition: 1.0s;
}
